.box {
    display: flex;
    justify-content: center;
    max-width: 1110px; 
    width: 100%;
    min-height: 106px;

    .quote { 
        margin: 20px;
        display: flex;
        justify-content: center; 
    
        &__text {
            font-family: "Mulish", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
            max-width: 635px;
        }
    
        &__list {
            list-style: none;
            font-family: "Mulish", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
        }
    
        .list__item {
            padding: 7px;
        }
    }

}


.awards {
    max-width: 1110px;
    width: 100%;
    height: 823px;
    background-color: pink;

    &__top {
        width: 100%;
        height: 420px;
        border-bottom: #D8D8D8 solid 2px;
        border-top:  #D8D8D8 solid 2px;
    }

    &__bottom {
        width: 100%;
        height: 413px;
        border-bottom: #D8D8D8 solid 2px;
    }
}