.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__tagline {
        font-family: "Mulish", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
    }

    &__small-headline {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
    }

    &__large-headline {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #111111;
    }

    &__color {
        color: #4A4FF2;
    }

    .card-one {
        max-width: 635px;
        width: 100%;
        height: 251px;
        background-color: pink; 
    }

    .card-two {
        max-width: 207px;
        height: 34px;
        background-color: pink;
        display: flex;
        align-self: flex-end; //how do i make a partial border?
        transform: translate(-15px);
    }
}