.caption {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;   
}

.large-image {
    padding-bottom: 35px;
}

.image__container {
    padding-top: 40px;
    display: flex;
    max-width: 1110px;
    width: 100%;
    min-height: 400px;
}