.projects {
    max-width: 1110px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    

    &__one {
        max-width: 635px;
        width: 100%;
        height: 400px;
    }

    //same question as always: why are stuff not aligning? what am i doing? 
    &__headline {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
        max-width: 475px;
        width: 100%;
        margin: 10px 0px 0px 0px;
        transform: translateY(-15px);
    }

    &__info {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }

    &__two {
        max-width: 335px;
        width: 100%;
        min-height: 343px;
    }

    /*can't align them to the grid lines? 
    don't get why? tried a bunch of stuff and googled alot*/
    &__list {
        max-width: 335px;
        height: 42px;
        border-bottom: 1px solid #979797;
        margin: 5px;
        display: grid;
        grid-column: 120px 215px;
        grid-row: 14px 14px 14px;
    }

    &__left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    &__right { 
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }

}


.text-1 {
    margin-bottom: 10px;
}