* {
    max-width: 1360px;
}

main {
    height: 300px;
    background-color: #cacaca; /*just for now - to see better*/
}

.menu {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &__logo {
        grid-column: 4;
        grid-row: 3;
    }

    &__link { /*maybe a variable instead is smart? since same in footer?*/
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    &__projects {
        grid-column: 18;
        grid-row: 3/4;
    }

    &__contact {
        grid-column: 20;
        grid-row: 3/4;
    }
}


.footer {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &__logo {
        grid-column: 4;
        grid-row: 3;
    }
    &__link { 
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-weight: bold;
        grid-row: 3;
    }

    &__projects {
        grid-column: 14;
        grid-row: 3;
    }

    &__contact {
        grid-column: 16;
        grid-row: 3;
    }

    &__dribble {
        grid-column: 19;
        grid-row: 3;
    }

    &__instagram {
        grid-column: 20;
        grid-row: 3;
    }

    &__twitter {
        grid-column: 21;
        grid-row: 3;
    }
}


/*Sass-ify these - but how?*/
a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}