* {
    max-width: 1360px;
    margin: auto;
}

main {
    height: 3200px;
}

.menu {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &__logo {
        grid-column: 1;
        grid-row: 3;
    }

    &__link { /*maybe a variable instead is smart? since same in footer?*/
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    &__projects {
        grid-column: 22;
        grid-row: 3/4;
    }

    &__contact {
        grid-column-end: 25;
        grid-row: 3/4;
    }
}


.footer {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &__logo {
        grid-column: 1;
        grid-row: 3;
    }
    &__link { 
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-weight: bold;
        grid-row: 3;
    }

    &__projects {
        grid-column: 18;
        grid-row: 3;
    }

    &__contact {
        grid-column: 20;
        grid-row: 3;
    }

    &__dribble {
        grid-column: 23;
        grid-row: 3;
    }

    &__instagram {
        grid-column: 24;
        grid-row: 3;
    }

    &__twitter {
        grid-column: 25;
        grid-row: 3;
    }
}


/*Sass-ify these - but how?
Also add some hover thing - it's boring now*/
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}